<h1 class="text-center">Home Page</h1>
<div class="form-container">
  <form [formGroup]="form" novalidate>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" formControlName="Name" [(ngModel)]="model.Name">

    </div>
    <div class="mb-3">
      <label for="MobileNo" class="form-label">Mobile No</label>
      <input type="number" class="form-control" id="MobileNo" formControlName="Mobile" [(ngModel)]="model.MobileNo">
    </div>
    <div class="mb-3">
      <label for="Username" class="form-label">Username</label>
      <input type="text" class="form-control" id="Username" formControlName="Username" [(ngModel)]="model.Username">
    </div>
    <div class="mb-3">
      <label for="Password" class="form-label">Password</label>
      <input type="password" class="form-control" id="Password" formControlName="Password" [(ngModel)]="model.Password">
    </div>

    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </form>
</div>
